
@{
    ViewBag.Title = "Computer Web Shop | Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headerSection {
    @Html.Partial("_LayoutHeader")

}


<section>
    <div class="seller-cntr bg-light m-b-lg">
        <div class="seller-profile"> <img id="imgBanner" src="@Url.Content("~/Content/images/top2.jpg")"> </div>
    </div>
</section>

@*@Html.Partial("_BrandItems")*@